*{
  margin: 0;
  padding: 0;
  font-family: 'Chivo-Bold';
  letter-spacing: 0.1px;
}

.screen{
  width: 768px;
  height: 1366px;
  overflow: hidden;
  position: relative;
}

.webcam{
	border: 1px solid black;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}