*{
  margin: 0;
  padding: 0;
  font-family: 'Chivo-Bold', sans-serif;
  letter-spacing: 0.1px;
}

.screen{
  width: 1366px;
  height: 768px;
  overflow: hidden;
  position: relative;
}



.frame{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.webcam{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border: 1px solid black;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.spinner{
	position: absolute;
	top: -200px;
	z-index: 2;
	opacity: 0.95;
	display: none;
}

.spinnerText{
	position: absolute;
	top: 750px;
	width: 1366px;
	height: 250px;
	margin: auto;
	background: rgba(255,255,255,0.6);
	text-align: center;
	z-index: 3;
	font-size: 70px;
}


.splash_screen{
	z-index: 3;
	display: none;
	position: absolute;
	top: 0;
}




.counter{
	position: absolute;
	top: 70px;
	right: 70px;
	width: 250px;
	height: 250px;
	background: rgba(255,255,255,0.6);
	line-height: 250px;
	text-align: center;
	z-index: 2;
	font-size: 200px;
	border-radius: 1000px;
}

